@{
    ViewData["Title"] = "About Us";
}

<h1 class="InvertFilter1">@ViewData["Title"]</h1>

<div class="text-center">
    <iframe height="600" width="1400"
            src="https://www.youtube.com/embed/iUtnZpzkbG8" allow="autoplay">
    </iframe>
    <h3 class="InvertFilter1">We are a humble small business company that offers regional access to basic grocery.</h3>
</div>
