@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="InvertFilter1">Welcome to</h1>
    <img class="InvertFilter1" src="~/css/SVG/swLogo.svg" width="700" style="margin-top: 5px;" />
    <h3 class="InvertFilter1">Start Shopping now by Logging in or Register to our website<h3>
</div>
