body {
    --colour-1: #b8cdf8; /*Primary Colour the sky blue*/
    --colour-2: #89a5de; /*Secondary Colour the sky blue*/
    --colour-3: #145c9e; /*Primary Colour the blue*/
    --colour-4: #07467f; /*Secondary Colour the blue*/
    --colour-5: #0b4f6c; /*Primary Colour the darker blue*/
    --colour-6: #103b4e; /*Secondary Colour the darker blue*/
}
