@model JamesJonesDbs2.Models.DataTransferObject.LoginAppUserDTO

@{
    ViewData["Title"] = "Login";
}

<h1 class="text-center InvertFilter1">AppUser Login</h1>

<hr />
<div class="row justify-content-center ">
    <div class="col-md-4 ">
        <img class="InvertFilter1 addPadder makeSpinLogo text-center" src="~/css/SVG/SamsWareHouseLogo.svg" width="300 style="margin-top: 5px;" />
        <br /><br />
        <form asp-action="LoginConfirm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label InvertFilter1"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group ">
                <label asp-for="Password" class="control-label InvertFilter1"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
        <br />
        <a asp-controller="SamsWareHouseItem" asp-action="Index" class="btn btn-primary" m-4>Continue As Guest</a>
    </div>
    <br />
    <div>
        
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
